<section id="footer">
  <div class="inner">
    <h2 class="major">Get in touch</h2>
    <p>I'm a driven and flexible coder / mapper / explorer with a proven record of delivering creative and innovative solutions. I have worked with secure military communications systems and networking, GIS planning and creation, database integration, and cryptographic systems.
      My undergraduate degree is in Emergency Management Administration from West Texas A & M and I am currently completing my MBA focused on the global energy market at the University of Houston.
      I pride myself on delivering the highest quality of work In the fastest time possible.  I'm always open to discussing new projects and new adventures.</p>
    <form method="post" action="#">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="4"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form>
    <ul class="contact">
      <li class="fa-envelope"><a href="mailto:cody.w.burns@protonmail.com">cody.w.burns@protonmail.com</a></li>
      <li class="fa-twitter"><a href="https://twitter.com/DontPanicBurns">twitter.com/DontPanicBurns</a></li>
      <li class="fa-facebook"><a href="https://www.facebook.com/cody.w.burns">facebook.com/cody.w.burns</a></li>
      <li class="fa-linkedin"><a href="https://www.linkedin.com/in/cody-burns-22aa7037">linkedin.com/in/cody-burns-22aa7037</a></li>
      <li class="fa-lock"><a href="codywburns.asc">PGP publickey</a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Cody W Burns All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>
</section>
