<!-- Banner -->
  <section id="banner">
    <div class="inner">
      <div class="logo"><img src ='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAUdAAAAJDY2ZDhkMDMyLTc3ZDItNGQ1Yy04ODQyLWM3YTI4NjYyM2Q0ZQ.jpg' style="border-radius: 50% ; width: 250px" /></div>
      <h2>Cody W Burns</h2>
      <p>FinTech + Electronics + Exploration </p>
    </div>
  </section>

<!-- Wrapper -->
  <section id="wrapper">

    <!-- One -->
      <section id="one" class="wrapper spotlight style1">
        <div class="inner">
          <a href="#" class="image"><img src="img/pic01.jpg" alt="" /></a>
          <div class="content">
            <h2 class="major">Financial Technology</h2>
            <p>The world of finance is changing. The internet, mobile computing, and blockchain technology are positioning themselves to fundamentally change the idea of money for the world. I am doing my part to help spur the revolution along.  </p>
            <a href="#" class="special">Learn more</a>
          </div>
        </div>
      </section>

    <!-- Two -->
      <section id="two" class="wrapper alt spotlight style2">
        <div class="inner">
          <a href="#" class="image"><img src="img/pic02.jpg" alt="" /></a>
          <div class="content">
            <h2 class="major">Electronics</h2>
            <p>I have been in love with electronics for as long as I can remember. My favorite hobby growing up was disassymbling our NES and seeing if I could put it back together. I have worked with everything from million dollar secure global communications systems in the Marines, DIY drones, inertial and GPS navigation systems for surveying, and my newest hobby of IoT devices with the Intel Edison and Raspberry Pi.</p>
            <a href="#" class="special">Learn more</a>
          </div>
        </div>
      </section>

    <!-- Three -->
      <section id="three" class="wrapper spotlight style3">
        <div class="inner">
          <a href="#" class="image"><img src="img/pic03.jpg" alt="" /></a>
          <div class="content">
            <h2 class="major">Exploration</h2>
            <p>I was born and grew up in a small east Texas town with a population of 5000. After high school I set out for adventure. The world is meant to be explored. Here are maps and pictures from my journeys.</p>
            <a href="#" class="special">Learn more</a>
          </div>
        </div>
      </section>

    <!-- Four -->
      <section id="four" class="wrapper alt style1">
        <div class="inner">
          <h2 class="major">Active Projects</h2>
          <p>A collection of projects which are currently being activly contributed to.</p>
          <section class="features">
            <article>
              <a href="#" class="image"><img src="img/pic04.jpg" alt="" /></a>
              <h3 class="major">Academic</h3>
              <p>MBA focused on Global Energy | The University of Houston.</p>
              <a href="#" class="special">Learn more</a>
            </article>
            <article>
              <a href="#" class="image"><img src="img/pic05.jpg" alt="" /></a>
              <h3 class="major">Ethereum Classic</h3>
              <p>Decentralized, immutable, unstoppable blockchain capable of executing smart-contracts</p>
              <a href="http://ethereumclassic.org" class="special">Learn more</a>
            </article>
            <article>
              <a href="#" class="image"><img src="img/pic06.jpg" alt="" /></a>
              <h3 class="major">Totruga Trading</h3>
              <p>Over-the-counter trading platform for peer-to-peer trading of assets with smart contract.</p>
              <a href="http://www.t-trade.io" class="special">Learn more</a>
            </article>
            <article>
              <a href="#" class="image"><img src="img/pic07.jpg" alt="" /></a>
              <h3 class="major">Open-Source Projects</h3>
              <p>Various open source projects</p>
              <a href="#" class="special">Learn more</a>
            </article>
          </section>
          <ul class="actions">
            <li><a href="#" class="button">Browse All</a></li>
          </ul>
        </div>
      </section>

  </section>
